[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/taskmate
ExecStart=/home/ubuntu/taskmate/tmenv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          taskmate.wsgi.application
[Install]
WantedBy=multi-user.target